@import "../components/index";

.main-content{
    padding: 20px;
}

.content-box-bar{
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    font-family: $font-family;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.back-arrow{
    margin-right: 15px;
    cursor: pointer;
}

.components-title-cadastrar-imovel{
    display: flex;
    width: 100%;
    height: 32px;
    align-items: center;
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.btn-components-cadastrar-imovel{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    @media (max-width: 768px) {
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }
}

.btn-components-footer{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.publicar-imovel{
    display: flex;
    align-items: center;
}

.btn-cancelar-cadastro-imovel{
    display: flex;
    color: $red;
    font-weight: $bold;
    align-items: center;
    cursor: pointer;
}

.btn-red-white{
    display: flex;
    color: $red;
    font-weight: $bold;
    align-items: center;
    cursor: pointer;
}


.content-box-body{
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    @apply mt-5;
}

.progresso-cadastrar-imovel{
    width: 100%;
}

.forms-cadastrar-imovel{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.step-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 44px;
}

.step{
    display: flex;
    justify-content: center;
    background-color: $gray;
    font-family: $font-family;
    font-size: $f15;
    font-weight: $bold;
    padding: 10px 10px;
    border-radius: 10px;
    width: 20%;
    height: 45px;
    z-index: 1;
    @media (max-width: 768px) {
        display: none;
    }
}

.step-active{
    background-color: $red;
    color: white;
}

.arrow-active{
    fill: $red !important;
}

.step-mobile{
    display: none;
    background-color: $gray;
    font-family: $font-family;
    font-size: $f15;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    height: 45px;
    width: 20%;
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.step-mobile-active{
    background-color: $red;
    color: white;
}

// Arrows

.arrow-front{
    width: 45px;
    fill: $gray;
    margin-left: -24px;
    margin-right: -10px;
    @media (max-width: 768px) {
        margin-left: -22px;
        scale: 1.07;
        margin-top: 1px;
    }
}

.arrow-back{
    width: 45px;
    height: 45px;
    fill: $gray;
    margin-right: -20px;
    scale: 1.02;
}

// Back & Next
.back-next{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.back-step{
    width: 50%;
    display: flex;
}

.btn-back-step{
    cursor: pointer;
}

.next-step{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


// Módulos

.fields{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

textarea{
    resize: none;
}

.radio-container{
    display: flex;
    flex-direction: row;

    .field-radio{
        display: flex;
        margin-left: 10px;

        label{
            display: flex;
            align-items: center;
        }
    }
}

.field{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
    }
    .align{
        width: 100%;
        display: flex;
        align-items: center;

        input{
            width: 100%;
        }

        button{
            position: relative;
            top: 7px;
        }

        svg{
            width: 40px;
        }
    }

}

.full{
    width: 100%;
}

.field-title{
    font-family: $font-family;
    font-size: $f22;
    font-weight: $bold;
    color: $black;
    margin-top: 50px;
}

.field-subtitle{
    font-family: $font-family;
    font-size: $f15;
    font-weight: $bold;
    color: $black;
    margin-top: 20px;
}

.field-subsubtitle{
    font-family: $font-family;
    font-size: $f14;
    font-style: $it;
    font-weight: $normal;

}

.field-row{
    display: flex;
    flex-direction: row;
}

.field-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.cbtn{
    width: 220px;
    margin-left: 20px;
}

.end{
    justify-content: flex-end;
}

.divide{
    width: 100%;
    @apply mt-10 mb-5;
}

.important-message{
    display: flex;
    flex-direction: column;
    background-color: $orange;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;

    .im1{
        color: $dark-orange;
        font-family: $font-family;
        font-size: $f15;
        font-style: $it;
        font-weight: $normal;
        letter-spacing: -0.3px;
    }

    .im2{
        color: $dark-orange;
        font-family: $font-family;
        font-size: $f15;
        font-weight: $bold;
        letter-spacing: -0.3px;
        margin-top: 5px;
    }
}

.editor-block{
    display: flex;
    flex-direction: row;

    svg{
        margin-right: 10px;
        stroke: $red;
        cursor: pointer;
    }

    span{
        color: $red;
        cursor: pointer;
    }


}

.balaozinho {
    width: 130px;
    height: 47.001px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 900;
    font-family: $font-family;
    position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        background-color: white;
        
    }
}

.bgray{
    border: 2px solid $dark-gray;
    color: $dark-gray;
}
.bred{
    border: 2px solid $red;
    color: $red;
}
.bblack{
    border: 2px solid $black;
    color: black;
}

.balaoApe11:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
    border-bottom: 10px solid transparent;
    right: 54px;
    bottom: -20px;
}

.balaoApe11:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $gray;
    @media (max-width: 768px) {
    border-top: 10px solid white;
    }
    border-bottom: 10px solid transparent;
    right: 54px;
    bottom: -18px;
}

.valuation-content{
    display: flex;
    background-color: $gray;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 280px;
    @media (max-width: 768px) {
        height: 500px;
        flex-direction: column;
    }
    .valuation-info{
        margin: 25px;
        margin-right: 10px;
        width: 50%;
        @media (max-width: 768px) {
            width: 90%;
        }
        .fonte{
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            .middle{
                color: $red;
                margin-left: 5px;
                margin-right: 5px;
                cursor: pointer;
            }
            .svg{
                margin-top: 3px;
                cursor: pointer;
            }
            
        }
        .valuation-value{
            margin-top: 10px;
            margin-bottom: 10px;
            color: $red;
            font-family: $font-family;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -1px;
            @media (max-width: 768px) {
                font-size: 30px;
            }
        }
    }
    .valuation-graph{
        z-index: 0;
        font-family: $font-family;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: 90px;
        @media (max-width: 768px) {
            width: 90%;
            scale: 0.67;
        }
        .venda_mais_rapida{
            margin-right: 40px;
            margin-top: 120px;
            flex-direction: column;
            @media (max-width: 768px) {
                margin-top: 76px;
                margin-left: -60px;
            }
            a{
                color: $black;
                font-weight: $bold;
                font-size: $f15;
                @media (max-width: 768px) {
                    font-size: $f15;
                }
            }
            .graph{
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 47px;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                background-color: $dark-gray;
            }
        }
        .sugestao_ape11{
            margin-right: 40px;
            margin-top: 75px;
            flex-direction: column;
            @media (max-width: 768px) {
                margin-top: 30px;
            }
            a{
                color: $black;
                font-weight: $bold;
                font-size: $f15;
                margin-left: 8px;
            }
            .graph{
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 93px;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                background-color: $red;
            }

        }
        .para_negociar{
            margin-top: 62px;
            flex-direction: column;
            @media (max-width: 768px) {
                margin-top: 13px;
            }
            a{
                color: $black;
                font-weight: $bold;
                font-size: $f15;
                margin-left: 20px;
            }
            .graph{
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 107px;
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                background-color: $black;
            }
        }
    }
}

.svg-localizacao{
    position: relative;
    top: 31px;
    left: 8px;
}


#localizacao,
#endereco{
padding-left: 38px;
}


#btn-observacao{
margin-top: -50px;
}


#btn-titulo{
margin-top: 40px;
}


/* Estilizando a tabela */
table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: $font-family;
    font-size: $f15;
    font-weight: $bold;
    overflow: hidden;
    border-collapse: collapse;
    border: solid 2px $light-gray;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
  
  /* Estilizando cabeçalho da tabela */
  th {
    background-color: $dark-gray;
    color: white;
    text-align: left;
    padding: 10px;
  }
  
  /* Estilizando células da tabela */
  td {
    padding: 10px;
  }
  

  /* Estilizando a tabela quando o mouse passa por cima */
  tr:hover {
    background-color: #ddd;
  }

  .action-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .checkbox-option{
        width: 100%;
    }

    .checkbox-container{
        margin-top: 4px;
        margin-left: 2px;
    }
  }


  .table-field-editor{
    cursor: pointer;
  }
  
  .btn-filtro {
    width: 40px;
    height: 40px;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    border: 0px;
    border-radius: 10px;
    margin-left: 10px;

    svg {
        display: inherit;
    }
}