@import "../components/index";

// Componetes de ação da página
.bar-components{
    display: flex;
    font-family: $font-family;
    width: 100%;
}

// Button
.btn-components{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @media (max-width: 768px) {
        position: fixed;
        bottom: 20px;
        left: -30%;
    }
}

.imovel{
    display: flex;
    align-items: center;
    font-size: $f15;
    font-weight: $bold;
    cursor: pointer;
    @media (max-width: 768px) {
        padding: 25px 25px;
        z-index: 10;

    }
}

// Status
.status-component{
    display: flex;
    border: 1px solid #222;
    border-radius: 20px;
    align-items: center;
    font-size: $f15;
    font-weight: $bold;
    padding: 2px;
    width: 300px;
    justify-content: space-between;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.label-status{
    cursor: pointer;
    padding: 5px 16px;
}

.label-selected{
    background-color: #222;
    border-radius: 20px;
    color: white;
}

