.section-red-background {
    a {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: white;
    }
    background-color: #ec0000;
    width: 100%;
    height: 100vh; // você pode ajustar a altura conforme necessário
    display: flex;
    align-items: center;

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 20px;
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 15px;
        }
    }
    small {
        color: white;
        text-align: center;
    }
    .erro-login {
        color: white;
        text-align: center;
        font-weight: bold;
    }
    @media (min-width: 768px) {
        // Este breakpoint pode ser ajustado conforme necessário
        .form-container {
            width: 25%;
            margin: 0 auto; // Isso centraliza a div.form-container

            form {
                width: 100%; // O form ocupará 100% da div.form-containe
            }
        }
    }

    input[type="text"],
    input[type="password"] {
        width: 100%; // Ocupa 100% da largura do form
        padding: 8px; // Adiciona um pouco de padding
        border: 1px solid white; // Borda branca
        background-color: transparent; // Fundo transparente
        color: white; // Texto branco
        margin-bottom: 10px; // Espaço entre os campos

        // Estiliza o placeholder
        &::placeholder {
            color: white; // Placeholder branco
        }
    }

    // Botão de Enviar
    input[type="submit"] {
        width: 100%; // Ocupa 100% da largura do form
        padding: 10px; // Adiciona um pouco de padding
        border: none; // Remove a borda
        background-color: white; // Fundo branco
        color: #ec0000; // Texto vermelho
        cursor: pointer; // Muda o cursor para indicar clicabilidade

        // Adiciona estilos para o estado de hover do botão
        &:hover {
            background-color: #ffffffb3; // Fundo branco translúcido no hover
        }
    }

    // Input escondido
    input[type="hidden"] {
        // Estilos para o input escondido, se necessário
    }
}
