.badge {
    display: flex;
    margin-top: 5px;

    &-aluguel {
        border: 1px solid #737373;
        width: 72px;
        max-width: 100%;
        justify-content: center;
        border-radius: 20px;
        font-size: 14px;
    }

    &-compra {
        border: 1px solid #737373;
        width: 72px;
        max-width: 100%;
        justify-content: center;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 5px;
    }
}
