.dropdown-container {
    position: relative;
    width: 200px;

    @media (max-width: 767.98px) {
        width: 170px;
    }

    @media (min-width: 1300px) {
        width: 230px;
    }
}

.content {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.dropdown-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 270px;
    max-height: 207px;
    border-radius: 20px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
}

.status-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.status-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
}

.status-name {
    flex: 1;
    font-size: 13px;
}

.status-checkbox.active-status {
    background-color: #ec0000;
    border: none;
}

.atribuicao-checkbox.active-status {
    background-color: #ec0000;
    border: none;
}

.selected-status-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.status-elipse {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.selected-status-content {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 13px;
}

.user-dropdown-container {
    position: relative;
    width: auto;
}

.selected-user {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
        padding: 0 5px;
    }
}

.user-role {
    font-size: 0.9em;
    margin-top: -5px;
}

.user-dropdown-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    max-height: 207px;
    border-radius: 20px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 15px;

    @media (max-width: 767.98px) {
        left: -40px;
        width: 180px;
    }
}

.user-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}

.atribuicao-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
}

.check-icon {
    color: red;
}

.user-row {
    display: flex;
    align-items: center;

    span {
        font-size: 14px;
    }
}

.atribuicao-checkbox {
    margin-right: 10px;
}

/*@media (max-width: 767.98px) {
    .lead-desktop {
        display: none;
    }
}*/
