.vue-tel-input {
    display: flex;
    flex-direction: row;
    border: 0px;
    border: none !important;

    .vti__country-code {
        font-family: $font-family;
        font-size: $f16;
        font-weight: $bold;
        color: $black;
    }

    .vti__dropdown {
        margin-right: 10px;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
    }

    .vti__input {
        border: 1px solid #d8d8d8;
        border-radius: 5px;
    }
}
